@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* General styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Cute Font", sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.btn-signup {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 8px 22px;
  font-size: 22px;
  font-family: "Cute Font", sans-serif;
}

/* HEADER */

#main-header {
  color: #f9faf8;
  font-size: 24pxs;
  background-color: #1f2937;
}

#main-header .container {
  width: 1000px;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.logo {
  width: 65px;
}

.nav-menu {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
}

.nav-item a {
  font-size: 22px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.hero-content {
  width: 45%;
}

.hero-content h1 {
  margin-bottom: 10px;
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
}

.hero-content p {
  margin-bottom: 12px;
  font-size: 26px;
  color: #e5e7eb;
  line-height: 1.5;
}

.hero-img {
  width: 45%;
}

/* INFORMATION */

.info-heading {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  color: #1f2937;
  /* background-color: red; */
  padding: 36px 0;
}

.info-content {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.info-card {
  width: 150px;
}

.info-img {
  width: 200px;
  border-radius: 10px;
}

.info-description {
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
  color: #444;
}

/* TESTIMONIAL */
#testimonials {
  background-color: #e5e7eb;
}

.testimonial-quote {
  padding: 60px;
}

.quote-content {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  text-align: end;
  font-weight: bold;
}

/* CALL TO ACTION */

#call-to-action .container {
  width: 1000px;
  display: flex;
  background-color: #3882f6;
  color: #e5e7eb;
  justify-content: space-between;
  padding: 60px 100px;
  border-radius: 10px;
  align-items: center;
}

.cta-content h2 {
  font-size: 36px;
}

.cta-content p {
  font-size: 18px;
}

.cta-btn {
  border: 2px#e5e7eb solid;
}

/* FOOTER */
.footer {
  background-color: #1f2937;
  padding: 36px;
  color: #e5e7eb;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
